.TrackerHeader {
    margin-bottom: 2%;
}

.searchAddDiv {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.searchAddDiv > * {
    margin: 2% auto;
}

.searchDiv {
    flex-basis: 40%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.searchDiv > * {
    margin: auto 5%;
    padding: 2% 5%;
    /* font-size: 12px; */
    border-radius: 2em;
    min-width: fit-content;
}

.SortTargets {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.SortTargets > * {
    flex-basis: 20%;
    background-color: lightyellow;
    white-space: nowrap;
}

.sortDown {
    background-color: palegreen;
}

.sortUp {
    background-color: pink;
}

@media (max-width: 500px) {
    .searchDiv {
        flex-basis: 100%;
    }

    .SortTargets > * {
        flex-basis: 25%;
    }
}