.TrackerHeader {
    margin-bottom: 2%;
}

.searchAddDiv {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.SortTargets {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* .activeSort {
    border: solid 2px blue;
} */

.sortDown {
    background-color: palegreen;
}

.sortUp {
    background-color: pink;
}