.searchAddDiv {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.SortTargets {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.activeSort {
    border: solid 2px blue;
}

.sortDown {
    background-color: green;
}

.sortUp {
    background-color: red;
}