.TargetDetail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    border: solid 2px grey;
    margin: 2%;
    padding: 2%;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.editButton {
    margin-left: auto;
    border-radius: 5px;
}

.infoMetrics {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 500px) {
    .infoMetrics {
        flex-direction: column;
    }
}

.contactsDetail {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}