.TargetDetail {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    border: solid 2px grey;
    margin: 2%;
    cursor: pointer;
    background-color: white;
}

.editButton {
    margin: auto 0;
    position: absolute;
    top: 0;
    left: 0;
}