html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background-image: url(./images/Atlanta_skyline_traffic_night.jpg);
  background-size: cover;
  background-position: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
}

button, input {
  padding: 1% 2%;
  border-radius: 2em;
  margin: 1%;
  width: fit-content;
  font-size: 1em;
  background-color: white;
  cursor: pointer;
}

label {
  cursor: pointer;
}

input[type='text'], 
input[type='password'], 
input[type='tel'], 
input[type='number'] {
  cursor: text;
}

button:focus, input:focus {
  outline: none;
}

button:active, input[type='button']:active {
  background-color: lightgrey;
}