.TargetListHeader {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: solid 5px grey;
    margin: 0 2% 2%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}